
@{
    ViewBag.Title = "Se Connecter";
}
<div class="container body-content">
    <div class="content-noindex">
        @using (Html.BeginForm("Login", "Account"))
        {
            <div class="row">
                <div class="col-md-4 col-md-offset-4" style="border:10px;border-color:#808080;border-radius:5px;">
                    <h1 style="text-align:center;">@ViewBag.Title</h1>
                    <br />
                    <br />
    
                    @Html.ValidationSummary(true)
                    
                    <div class="editor-label">
                        <label for="Email">Email</label>
                    </div>  
                    <input type="text" class="form-control" name="Email"/>
                    <div class="editor-label">
                        <label for="Password">Password</label>
                    </div>
                    <input type="password" name="Password" class="form-control" />
                    <input type="hidden" name="ReturnUrl" />
                    <br />
                    <p>
                        <button type="submit" class="btn btn-default">Se Connecter &raquo;</button>
                    </p>
                </div>
            </div>
        }
    </div>
</div>
